@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #ffffff;
  --accent-color: #4f46e5;
  --text: #111111;
  --text-muted: #6B7280;
  --borders: #e5e7eb;
  --card-bg: #f9fafb;
  --code-bg: #f3f4f6;
  
}

body {
  background-color: var(--bg-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--text);
}

