@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #0B1120;

  --text-primary: #E5E7EB;
  --text-secondary: #9CA3AF;
  --text-muted: #6B7280;

  --accent-primary: #3B82F6;
  --accent-secondary: #8B5CF6;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}
